<div class="bg-light justify-content-center mt-5 container"  >
  <h1>Nouvelle Consultation</h1>
  <form >
  <label for="">Nom</label>
  <input class="form-group form-control col-5" [(ngModel)]="nom"  name="nom" type="text">

  <label for="">Prenom</label>
  <input class="form-group form-control col-5" [(ngModel)]="prenom"  name="prenom" type="text">

  <label for="">Age</label>
  <input class="form-group form-control col-5" [(ngModel)]="age" name="age" type="number">

  <label for="">Email</label>
  <input class="form-group form-control col-5" [(ngModel)]="email" name="email" type="text">

  <label for="">Temperature</label>
  <input class="form-group form-control col-5" [(ngModel)]="temperature" name="temperature" type="number">

  <label for="">Tension Arterielle</label>
  <input class="form-group form-control col-5" [(ngModel)]="tension" name="tension" type="number">

  <label for="">Symptomes</label>
  <input class="form-group form-control col-5" [(ngModel)]="symptome" name="symptome" type="text">

  <button class="btn btn-submit btn-primary" (click)="Record()"
  [disabled]="!nom || !prenom || !age || !email || !symptome">Soumettre</button>

</form>
  <p class="row">{{ message }}</p>
</div>
<router-outlet>


</router-outlet>
