<div class="bg-light justify-content-center mt-5 container"  >
  <h1>Register</h1>
  <form (ngSubmit)="register()" >
  <label for="">E-mail</label>
  <input class="form-group form-control col-5" [(ngModel)]="email" name="email" type="email">

  <label for="">Password</label>
  <input class="form-group form-control col-5" [(ngModel)]="pwd" name="pwd" type="password">

  <button class="btn btn-submit btn-success">Register</button>
  <a href="#" routerLink="/login" routerLinkActive="active">
  <button class="btn btn-submit btn-light">Back to login</button></a>
</form>
<p *ngIf="errorMessage.length > 0 ">{{errorMessage}}</p>
<p *ngIf="error.message.length > 0 ">{{error.message}}</p>

<p *ngIf="successMessage.length > 0 ">{{successMessage}}</p>


</div>
<router-outlet>


</router-outlet>
